.todoInput {
    outline: none;
    background: none;
    border: 1px solid rgb(0,200,149);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 300px;
    color: #fff;
}

.todoInput::placeholder {
    color: #ffffff4d;
}